<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Submission details</title>
    </head>
    <body>

        <h2>Submission details</h2>

        <p>
            <!-- Security flaw #1: Cross-site scripting possible due to way name and address are printed on the page -->
            <strong>Id:</strong> <span th:text="${signup.id}"></span><br />
            <strong>Name:</strong> <span th:utext="${signup.name}"></span><br />
            <strong>Address:</strong> <span th:utext="${signup.address}"></span><br />
            <strong>Event:</strong> <span th:utext="${signup.event}"></span><br />
            <strong>Session:</strong> <span th:text="${signup.session}"></span>
        </p>
        
        <form th:action="@{/mysignups/{id}(id=${signup.id})}" th:method="DELETE"><input type="submit" value="Remove"/></form>
        
        <a th:href="@{/mysignups}">Back to list</a>

    </body>
</html>
