<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Event submissions</title>
    </head>
    <body>

        <h2>Event submissions</h2>

        <div th:each="entry : ${items}">
            <p>
                <!-- Security flaw #1: Cross-site scripting possible due to way name and address are printed on the page -->
                <strong>Id:</strong> <span th:text="${entry.id}"></span><br />
                <strong>Name:</strong> <span th:utext="${entry.name}"></span><br />
                <strong>Address:</strong> <span th:utext="${entry.address}"></span><br />
                <strong>Event:</strong> <span th:utext="${entry.event}"></span><br />
                <strong>Session:</strong> <span th:text="${entry.session}"></span>
            </p>
        </div>
        
        <a th:href="@{/form}">Back to home</a>

    </body>
</html>
